<%function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

function getInfoOnPizza(pizza)
{
    var pizzaInfo = getIngredientsArray(pizza).join(", ") ;
    pizzaInfo = pizzaInfo.charAt(0).toUpperCase() + pizzaInfo.slice(1) + ".";
    return pizzaInfo;
}

%>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 center-text">
    <div class="thumbnail pizza-card">

        <% if(pizza.is_new) { %>
        <div class="labelForSpecialCase">New!</div>
        <% } else if(pizza.is_popular) {%>
        <div class="labelForSpecialCase">Popular!</div>
        <% } %>

        <img src="<%= pizza.icon %>" class="mainImg">

        <div class="caption">
            <h3 class="roundH3InCaption"><%= pizza.title %></h3>

            <p class="pizzaInfo"><%=getInfoOnPizza(pizza)%></p>

            <div class="mainBuyDiv">
                <div class="container-fluid left" >
                    <div class="explanationSymbols">
                        <img src="assets/images/size-icon.svg"><span><%= pizza.small_size.size %></span></br>
                        <img src="assets/images/weight.svg"><span><%= pizza.small_size.weight %></span></br>
                    </div>

                    <div class="standardFont priceToPayForChoose"><span><%= pizza.small_size.price %></span>$</div>

                    <div class="button standardBtn buy-small" data-tooltip="Buy small">Buy</div>
                </div>
                <div class="container-fluid right">
                    <div class="explanationSymbols">
                        <img src="assets/images/size-icon.svg"><span><%= pizza.big_size.size %></span></br>
                        <img src="assets/images/weight.svg"><span><%= pizza.big_size.weight %></span></br>
                    </div>

                    <div class="standardFont priceToPayForChoose"><span><%= pizza.big_size.price %></span>$</div>

                    <div class="button standardBtn  buy-big" data-tooltip="Buy big">Buy</div>
                </div>
            </div>
        </div>
    </div>
</div>