<div class="houseInfoAboutChosenPizza">

    <div class="housePicture">
        <img src="assets/images/pizzaOnRight.png" class="pizzaOnRight">
    </div>

    <div class="labelOnRight">
        <div class="standardFont"><%= pizza.title %> (<%= size == "small_size"?"Small":"Big" %>)</div>
    </div>

    <div class="explanationSymbols">
        <img src="assets/images/size-icon.svg"> <%= pizza[size].size %>
        <img src="assets/images/weight.svg" class="secondExplanationSymbol"> <span><%= pizza[size].weight %></span></br>
    </div>

    <div class="barWithButtonsOnRight">
        <div class="sumToPayForOne">
            <%= price %>$
        </div>

        <div class="buttonsForAddSubtractCancelAmount">
            <div class="subtract buttonOnRight standardBtn" data-tooltip="Decrease amount">
                -
            </div>

            <div class="amount">
                <%= quantity %>
            </div>

            <div class="add buttonOnRight standardBtn" data-tooltip="Increase amount">
                +
            </div>

            <div class="cancel buttonOnRight standardBtn" data-tooltip="Cancel ordering">
                ×
            </div>
        </div>
    </div>
</div>